<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center visible-xs">
        <a href="/#/">
        <img class="img-thumbnail" src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/mahaskaprod/HOME/mahaska_historical_logo_zps09a95540.png~original"/>
        </a>
        <br>
      </div>
      <div class="col-xs-6 visible-xs">
        <ul class="footer-nav">
          <li><a href="/#/">HOME</a></li>
          <li><a href="/#/products">PRODUCTS</a></li>
          <li><a href="/#/services">SERVICES</a></li>
          <li><a href="/#/distribution">DISTRIBUTION</a></li>
          <li><a href="/#/partners">PARTNERS</a></li>
          <!-- <li><a href="/#/about">ABOUT US</a></li> -->
        </ul>
      </div>
      <div class="col-xs-6 visible-xs">
        <ul class="footer-nav">
          <!-- <li><a href="/#/partners">PARTNERS</a></li> -->
          <li><a href="/#/about">ABOUT US</a></li>
          <li><a href="/#/history">HISTORY</a></li>
          <!-- <li><a href="/#/media">MEDIA</a></li> -->
          <li><a href="/#/careers">CAREERS</a></li>
          <li><a href="/#/contact">CONTACT</a></li>
          <!-- <li><a href="/#/store">STORE</a></li> -->
        </ul>
      </div>
      <div class="col-sm-2 hidden-xs">
        <ul class="footer-nav">
          <li><a href="/#/">HOME</a></li>
          <li><a href="/#/products">PRODUCTS</a></li>
          <li><a href="/#/services">SERVICES</a></li>
          <li><a href="/#/distribution">DISTRIBUTION</a></li>
          <li><a href="/#/partners">PARTNERS</a></li>
          <!-- <li><a href="/#/about">ABOUT US</a></li> -->
        </ul>
      </div>
      <div class="col-sm-2 hidden-xs">
        <ul class="footer-nav">
          <!-- <li><a href="/#/partners">PARTNERS</a></li> -->
          <li><a href="/#/about">ABOUT US</a></li>
          <li><a href="/#/history">HISTORY</a></li>
          <!-- <li><a href="/#/media">MEDIA</a></li> -->
          <li><a href="/#/careers">CAREERS</a></li>
          <li><a href="/#/contact">CONTACT</a></li>
          <!-- <li><a href="/#/store">STORE</a></li> -->
        </ul>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-2 text-center hidden-xs">
        <a href="/#/">
        <img class="img-thumbnail" src="/images/home/mahaska_historical_logo.png"/>
        </a>
      </div>

      <div class="col-sm-5 col-xs-12">
        <ul class="footer-social text-right hidden-xs">
          <li><a href="http://www.facebook.com/mahaska" target="_blank"><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/mahaskaprod/Global/facebookbuton_zpsb9bbe786.png~original"/></a></li>
          <li><a href="https://twitter.com/MahaskaBottling" target="_blank"><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/mahaskaprod/Global/twitterbutton_zps2369674d.png~original"/></a></li>
          <li><a href="http://instagram.com/mahaska_bottling" target="_blank"><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/mahaskaprod/Global/instagrambutton_zps386b4878.png~original"/></a></li>
          <li><a href="https://www.linkedin.com/company/mahaska-bottling/" target="_blank"><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/mahaskaprod/Global/linkedinbutton_zps88f94a1d.png~original"/></a></li>
          <div class="visible-xs visible-md visible-sm"><br></div>
          <li><a href="/#/contact" target="_blank"><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/mahaskaprod/Global/contactusbutton_zps78ccf239.png~original"/></a></li>
        </ul>

        <ul class="footer-social visible-xs text-center">
          <li><a href="http://www.facebook.com/mahaska" target="_blank"><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/mahaskaprod/Global/facebookbuton_zpsb9bbe786.png~original"/></a></li>
          <li><a href="https://twitter.com/MahaskaBottling" target="_blank"><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/mahaskaprod/Global/twitterbutton_zps2369674d.png~original"/></a></li>
          <li><a href="http://instagram.com/mahaska_bottling" target="_blank"><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/mahaskaprod/Global/instagrambutton_zps386b4878.png~original"/></a></li>
          <li><a href="https://www.linkedin.com/company/mahaska-bottling/" target="_blank"><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/mahaskaprod/Global/linkedinbutton_zps88f94a1d.png~original"/></a></li>
          <div class="visible-xs"><br></div>
          <li><a href="/#/contact" target="_blank"><img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/mahaskaprod/Global/contactusbutton_zps78ccf239.png~original"/></a></li>
        </ul>

        <p class="footer-text text-center"> COPYRIGHT © 2014 MAHASKA BOTTLING COMPANY, INC.</p>
      </div>
  </div>
</div>
